/* Write here your styles for the Index page */
.bounceIn {
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: bounceIn;
    animation-fill-mode: forwards;
}

.bounceOut {
    animation-duration: 0.5s;
    animation-name: bounceOut;
    animation-fill-mode: forwards;
}
