<section id="home" class="hero" style=" background:url(@Image)no-repeat;">
	<div class="container">
		<div class="hero-txt">
			<h2>@Title</h2>
			<p>@Subtitle</p>
		</div>
		@ChildContent
	</div>
</section>
@code {
    
}