.icon-input-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}
.icon-input-form:first-child{border-right: 1px solid #edeff1;}
.icon-input-form input {
    margin-left: 10px;
    height: 70px;
    width: 300px;
    border: 0;
    background: transparent;
}
.icon-input-form input[type="text"]{
    font-size: 14px;
    color: #859098;
    text-transform: capitalize;
    font-weight: 500;
}
.icon-input-form-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #252d32;
}