<div class="search-box">
	<MudGrid Justify="Justify.Center">
		<MudItem sm="6" xs="12">
			<MudPaper Class="px-2" >
				<MudTextField T="string" AdornmentIcon="@Icons.Filled.List"
				              Variant="Variant.Text"
				              Placeholder="Ex: place,food"
				              Adornment="Adornment.Start"></MudTextField>
			</MudPaper>
		</MudItem>
		<MudItem sm="6" xs="12">
			<MudPaper Class="px-2">
				<MudTextField T="string" AdornmentIcon="@Icons.Filled.LocationPin"
				              Class="text-light"
				              Variant="Variant.Text"
				              Placeholder="Ex: palce,  automobile"
				              Adornment="Adornment.End">
				</MudTextField>
			</MudPaper>
		</MudItem>
	</MudGrid>
	<div class="welcome-hero-serch">
		<MudButton Class="mt-3 ml-4" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">search
		</MudButton>
	</div>
</div>
@code {
    
}