<div class="search-box">
		<div class="searchbox-form">
			<IconInput Label="keyword" Placeholder="Ex: palce, resturent, food, automobile" Icon="flaticon-list-with-dots"/>
			<IconInput Label="location" Placeholder="Ex: Johannesburg, Limpopo, Soweto" Icon="flaticon-gps-fixed-indicator"/>
		</div>
		<div class="welcome-hero-serch">
			<MudButton Class="mt-3 ml-4" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large"  >search 
			</MudButton>
		</div>
	</div>
@code {
    
}