@inherits LayoutComponentBase
@using MudBlazor;
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* <HeaderTop></HeaderTop> *@
<nav class="navbar  navbar-expand-md sticky-top navbar-light bg-light shadow-sm flex-column flex-md-row mb-4" id="main-navbar"
    style="min-height: 4rem; z-index: 5;">
    <div class="container-fluid">
        <Branding />
        <button @onclick="ToggleCollapse" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#main-navbar-collapse" aria-controls="main-navbar-collapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @(IsCollapseShown ? "show" : "")" id="main-navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <NavMenu />
            </ul>
            <NavToolbar />
        </div>
    </div>
</nav>
<div class=@(IsFluid ? "container-fluid" :"")  >
    <PageAlert />
    @Body

    <UiMessageAlert />
    <UiNotificationAlert />
    <UiPageProgress />
</div>
