
<section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <h2>Gigs</h2>
            <p>Explore New place, food, culture around the world and many more</p>
        </div>
        <div class="explore-content">
            <MudGrid >
                @foreach (var gig in GigList)
                {
                    <MudItem sm="6" xs="12" md="4">
                        <GigCard Gig="gig" >
                        </GigCard>
                    </MudItem>
                }
            </MudGrid>
        </div>
    </div>
</section>